#favorite {
    font-weight: bolder;
    background-color: yellow;
    color: red;
    border-color: blue;
    outline: purple;
}

.awesome {
    font-style: italic;
    background-color: magenta;
}

article ol > li {
    background-color: lightblue;
}

article ul > li {
    background-color: pink;
}

article ul > li:hover {
    background-color: black;
    color: white;
}

table td {
    border: 1px solid;
}

table img {
    height: 250px;
    padding: 25px;
}

table {
    text-align: center;
}

table th {
    border: 2px solid;
    background-color: silver;
    color: darkblue;
}

tr:nth-child(even) {
  background-color: lightblue;
}

tr:nth-child(odd) {
    background-color: grey;
    color: white;
}

#example1, #example2, #example3 {
    text-align: center;
    border: 1px solid black;
}

#example1 .col-sm {
    border: 1px solid black;
    background-color: lightgreen;
}

#example2 div[class^="col"] {
    border: 1px solid black;
    background-color: pink;
}

.example {
    padding: 25px;
}

.card img {
    height: 200px;
    width: 100%;
}

.card {
    text-align: center;
     width: 100%;
}

h1 {
    padding-top: 25px;
}